
<div class="container">
<h1>Welcome to the finance tracker</h1>



<%# <link rel="stylesheet" type="text/css" href="custom.css.scss"/> %>


<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>



