


<body class="background-stonks">
<div class="markets">
<%= image_tag("vectorart.png", :alt => "candlestick", class: "vector-image" ) %>

<h1 class="market-title">Market News</h1>


</div>


    
</body>





<%# <link rel="stylesheet" type="text/css" href="custom.css.scss"/> %>






