
<div id="results">
<h1>Friends</h1>
  <div class="row">
    <div class="col-10">
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Portfolio</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
         <% @friends.each do |friend| %>
          <tr>
            <th scope="row"><%= friend.full_name %></th>
            <td><%= friend.email %></td>
            <td><%= link_to "#{friend.first_name}'s Portfolio", friend_portfolio_path(friend.id) %></td>
            <td><%= link_to 'Stop Following', friends_url(friend), method: :delete, data: {confirm: 'Are you Sure?'},
            class: 'btn btn-xs btn-warning'  %></td>
          </tr>
          <% end %>
    
        </tbody>
      </tbody>
</table>

    </div>      

