@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

.navbar {
    width: 100%;
    margin-bottom: 30px; 
    display: flex;
    flex-direction: row;
   justify-content: center;
  

    }

.background-stonks {
background-color: lightblue;
  background-image: url("stonks_meme.jpg");
  background-size: 108%; 
  background-repeat: no-repeat; 
  filter: saturate(300%)
  
 
}

.navbar-brand {
  font-size: 30px;


}

#dropdown-item {
    color: black;
 
}

#my_portfolio {

    align-content: auto; 

  
}

.results-table {

    font-size: 20px; 
    align-content: center;
    margin: 1rem;
}

.form-group {
    margin: 0; 
    padding: 5px 2px; 

}
.nav-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
   
}

.search {

 padding-bottom: 10px; 

}

.right-container {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    align-content: center;
    padding: 0px; 
    
   
}

.no-right-padding {
    padding-right: 0 !important;
}

.no-left-padding {
    padding-left: 0 !important;

}

.results-block {
    display: inline-block;
}


.user-name {
    color: white; 
    margin-top: 3.5%;
    padding-right: 10px;
  
}