@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

    .navbar {
     width:100%

    }

    // .navbar-brand {
    // width: 100%;

    
    // }
    
     
    .search-area {
        padding-top: 50px; 
        margin-left: 30px;
    }

    .no-right-padding {
        padding-right: 0 !important; 
    }

    .no-left-padding {
       padding-left: 0 !important;

    }

    .form-group {
        margin-left: 30px;
     
    }
